@import url('https://fonts.googleapis.com/css2?family=Comme&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Comme', sans-serif;
}
.con{
    min-height: 100vh;
    margin: auto;
    min-width: 100vw;
    background: linear-gradient(to right, #fc00ff, #00dbde);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.date{
    margin-top: 5rem;
    width: 30%;
    height: 2.5rem;
}
.inp{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 10px;
    height: 100%;
    width: 76%;
    border: none;
    outline: none;
}
.inp:hover{
    cursor: pointer;
}
.btn{
    font-family: 'Comme', sans-serif;
    font-weight: bold;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: rgb(243, 243, 54);
    height: 100%;
    width: 18%;
    font-size: .9rem;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(236, 236, 44);
}
.box{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.time{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
#box{
    margin-top: 10rem;
    display: flex;
    font-size: 1.8rem;
    animation: example-animation 1.5s ease-in-out infinite;
    display: none;
}
@keyframes example-animation {
    50% { font-size: 1.8rem; }
    100% { font-size: 2.3rem;font-weight: bold; }
  }
@media screen and (max-width:900px) {
    .date{
        width: 80%;
    }
}
@media screen and (max-width:480px) {
    .box{
        width: 80%;
    }
    .time{
        font-size: 1rem;
    }
}
